/*Document*/

body {
  font-family: "Quicksand", sans-serif;
  /* background-color: rgb(184, 235, 236); */
}

/*Universal Elements*/

.hyperLinksMainPage {
  color: rgb(10, 71, 61);
}

/* Navigation Bar */
#PortfolioTopLeft {
  font-size: 15px;
}

#mainNav {
  background-color: rgb(95, 158, 160);
}

.navbar-brand {
  color: rgb(255, 253, 230);
}

a {
  color: rgb(255, 253, 230);
}

a:hover {
  color: rgb(255, 223, 228);
}

#menuToggler {
  color: rgb(255, 253, 230); /*light yellow*/
  width: fit-content;
  font-size: 10px;
}

.navbar-toggler:hover {
  color: pink;
}

.navPlacehold {
  height: 7.5vh;
}

/*Landing*/

#myVideo {
  display: flex;
  min-width: fit-content;
}

.landingHold {
  height: 30vh;
  margin-top: 12vh;
}

.headerText {
  color: rgb(10, 71, 61);
  text-align: center;
}

.landingTextAnimo {
  font-style: none;
  font-size: 20px;
  display: flex;
}

/* About Section */
#about {
  background-color: rgb(255, 253, 230);
  color: rgb(10, 71, 61);
  padding: 3%;
  /* background-color: rgb(255, 223, 228); light pink */
}

#aboutTextContents {
  max-width: 60vw;
}

#resumeButton {
  color: rgb(10, 71, 61);
  border: 2px solid rgb(95, 158, 160);
  /* background-color: rgb(95, 158, 160); */
}

/*Portfolio*/
#projectSectionHeading {
  color: black;
}

.portfolio {
  margin: auto;
  max-width: 72vw;
  display: flex;
  padding-bottom: 4%;
  padding-top: 4%;
}

.row > * {
  padding: 5px;
}

#portfolioItem1 {
  filter: grayscale(1);
}

#portfolioItem1:hover {
  transform: scale(1.01);
  filter: grayscale(0);
  cursor: pointer;
}

#portfolioItem2 {
  filter: grayscale(1);
}

#portfolioItem2:hover {
  transform: scale(1.01);
  filter: grayscale(0);
  cursor: pointer;
}

#portfolioItem3 {
  filter: grayscale(1);
}

#portfolioItem3:hover {
  transform: scale(1.01);
  filter: grayscale(0);
  cursor: pointer;
}

#portfolioItem4 {
  filter: grayscale(1);
}

#portfolioItem4:hover {
  transform: scale(1.01);
  filter: grayscale(0);
  cursor: pointer;
}

/*CONTACT*/

#contactSectionHeading {
  color: rgb(95, 158, 160);
}

#contact {
  color: rgb(95, 158, 160);
}

/*Footer*/

.footer {
  background-color: cadetblue;
  padding: 1%;
}
/* 
/*Modals*/

.portfolio-modal {
  max-width: 40%;
  padding: 0 !important;
  text-align: center;
}

#modalImage {
  margin-top: 4vh;
  max-width: 90%;
  border: 3px solid rgb(255, 223, 228);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: rgb(10, 71, 61);
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  outline: 0;
  color: white;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 4rem 1rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.portfolio-modal .close {
  border: none;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #ffffff;
  background-color: rgb(95, 158, 160);
  opacity: 1;
}

.btn-primary {
  color: #fff;
  background-color: rgb(95, 158, 160);
  border: none;
}
.btn-primary:hover {
  color: #fff;
  background-color: #1abc9c;
  border-color: rgb(95, 158, 160);
}

/*ContactSection*/

#contactSection {
  padding-bottom: 2%;
}

#sendMessageButton {
  background: rgb(255, 253, 230);
  border: solid 5px rgb(95, 158, 160);
  color: rgb(95, 158, 160);
}

#sendMessageButton:hover {
  transform: scale(1.02);
}
